body{
    font-family: 'Roboto', sans-serif;
}

.s_button{
    padding: 5px 10px;
    border-radius: 30px;
    width: fit-content;
}


/* header */
.s_sony_bar{
    background-color: #000000;
}

.s_sony_bar img{
    width: 5rem;
}

.s_btn_navbar{
    background-color: #000000;
    color: #FFFFFF;
}

.nav-item.dropdown{  /* bootstrap class */
    position: static;
}

.dropdown-menu{  /* bootstrap class */
    border: none;
}

.dropdown-menu.show{  /* bootstrap class */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}

.s_dropdown_blu_circle{
    width: 10px;
    height: 10px;
    background-color: #0070D1;
    border-radius: 50%;
    display: inline-block;
}

/* slides section */
.s_slide_section{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.s_returnal_margin{
    margin-top: 200px;
    
}

.s_btn_slide_section{
    background-color: #CD3D0F;
    color: #FFFFFF;
}


/* img slider */
.s_img_slider .s_img_selected{
    border: 3px solid #0070D1;
    padding: 2px;
}


/* ps5 text */
.s_top_subtitle{
    font-size: .8rem;
    color: #0070D1;
}

.s_bottom_subtitle{
    color: #909090;
}


/* ps5 slide */
.s_btn_ps5_slide{
    background-color: #0070D1;
    color: #FFFFFF;
}


/* ps5 img slider */
.s_ps5_img_slider .s_img_selected{
    border-bottom: 3px solid #0070D1;
}

.s_img_not_selected{
    filter: opacity(.5);
}


/* it takes two section */
.s_it_takes_two_section{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}


/* new games section */
.s_new_games_section{
    background-color: #1F1F1F;
}



/* ps4 img */
.s_ps4_img_section p{
    color: #909090;
}

.s_btn_ps4_img{
    color: #FFFFFF;
    background-color: #0070D1;
    width: fit-content;
}


/* ps plus */
.s_ps_plus_section{
    background-color: #BEBCBB;
}

.s_ps_plus_section .s_ps_plus_logo{
    width: 60%;
}

.s_btn_ps_plus{
    color: #0070D1;
    background-color: #D9DADC;
}


/* ps store discounts */
.s_ps_store_discounts_section p{
    color: #909090;
    margin-bottom: 3rem;
}


/* ps now */
.s_ps_now_section{
    background-color: #161C3B;
}

.s_ps_now_section .s_ps_now_logo{
    width: 60%;
}

.s_btn_ps_now{
    color: #161C3B;
    background-color: #FFFFFF;
}